<h1>Listing appmodules</h1>

<table>
  <tr>
    <th>Module name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appmodules.each do |appmodule| %>
  <tr>
    <td><%= appmodule.module_name %></td>
    <td><%= link_to 'Show', appmodule %></td>
    <td><%= link_to 'Edit', edit_appmodule_path(appmodule) %></td>
    <td><%= link_to 'Destroy', appmodule, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appmodule', new_appmodule_path %>
